<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <connectionStrings>
    <add name="ConextaSQL" connectionString="Data Source=PCCAB001\\MSSQLSERVER2016;Initial Catalog=DBPagoEfectivoWallet_dev;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="cnBD" connectionString="Data Source=184.73.175.131,50789;Initial Catalog=rpl_DBPagoEfectivoWallet;Integrated Security=True ;User=usr_zpillihuaman; Password=Anagramas2016" />-->
    <!--"DefaultConnection": "Server=PCCAB001\\MSSQLSERVER2016;Database=DBPagoEfectivoWallet_dev;Trusted_Connection=True;MultipleActiveResultSets=true"-->
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
