@{
    Layout= "~/Views/Shared/_Layout.cshtml";
    ViewData["Titele"] = "Cuetna";

}
<h1>Cuenta del usario</h1>
<form class="form-horizontal" asp-action="Cuenta">
    <div class="form-group">0
       <label class="col-md-2 control-label"> DNI</label>
        <div class="col-md-10">
            <input type="text"  name="DNI" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Contraseña</label>
        <div class="col-md-10">
            <input type="password" name="password" class="form-control"  />
              <span class="col-md-pull-3 control-label"  style="color:red">@ViewBag.mensaje</span>
        </div>
    </div>

   


    <div class="form-group">
       <div class="col-md-offset-2">
           <input type="submit" class="btn btn-default" value="Ingresar"/>

       </div>

    </div>
</form>