
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Usuario" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Usuario" asp-action="Login">Log in</a></li>
</ul>  